In [ ]:
a="123456785"
sum=0
c=0
for i in a:
  sum=sum+int(i)
  c=c+1
print(sum/c)

4.555555555555555

In [ ]:
a="ram@123456"
sum=0
c=0
for i in a:
  if i.isdigit():
    sum=sum+int(i)
    c=c+1
print(sum)

21

In [ ]:
b="ram avin kumar sundari sundae"
wd=b.split()
for i in wd:
  c=0
  for j in i:
    c +=1
  print(c)

3
4
5
7
6

In [ ]:
b="ram avin kumar sundari sundae"
wd=b.split()
for i in wd:
  print(i,len(i))

ram 3
avin 4
kumar 5
sundari 7
sundae 6

In [ ]:
# Practice example
count=0
sum=0
a="123456"
for i in a:
  sum=sum+int(i)
  count=count+1
print("avg",sum/count)

avg 3.5

In [ ]:
sum=0
a="Ramya@123456"
for i in a:
  if i.isdigit():
    sum=sum+int(i)
print(sum)
print("avg",sum/6)

21
avg 3.5

In [ ]:
b="Rama Ravana Sita Sundra Sundri"
print(b.split())

['Rama', 'Ravana', 'Sita', 'Sundra', 'Sundri']

In [ ]:
b="Rama Ravana Sita Sundra Sundri"
c=b.split()
for i in c:
  print(i,len(i))

Rama 4
Ravana 6
Sita 4
Sundra 6
Sundri 6

In [ ]:
b="Rama Ravana Sita Sundra Sundri"
c=b.split()
for i in c:
  count=0
  for j in i:
    count+=1
  print(i,count)

Rama 4
Ravana 6
Sita 4
Sundra 6
Sundri 6